
	<h1>Add Recipe</h1>
		<div class="container">

			<form action = "/recipe/create" method = "POST"> <!--Name of the recipe -->
			<div class="card">
				<div class="form-group">
					<label>Name your recipe</label>
					<input class="form-control" type = "text" name = "name"> 

				</div> 

				<div class="form-group"> <!--Description of recipe-->
					<label>Description:</label>
					<textarea class="form-control" type = "text" name = "description"></textarea>
				</div>
				<div class="form-group"> <!--Post your URL Image-->
					<label>Image:</label>
					<input class="form-control" type = "text" name = "image">
				</div>
    			<div class="form-group">  <!--Ingredients-->
     			  	<label for="comment">Ingredients:</label>
     			  	<textarea class="form-control" rows="5" id="Ingredients" name="ingredients"></textarea>
    			</div>
    			<div class="form-group"> <!--Steps for the recipe-->
     			 	<label for="comment">Steps:</label>
     			 	<textarea class="form-control" rows="5" id="Steps" name="steps"></textarea>
    			</div>
  				<div class="form-group"> <!--Option to see if Recipe is Private or Public-->
  					<label>Private</label>
						<select id="private" name="private">
							<option value="0">No</option>
							<option value="1">Yes</option>
						</select>
				</div>
				<div class="form-group"> <!--Price of Private Recipe -->
					<label>Price</label>
					<input id="price" class="form-control" type="number" min="0.00" step="0.01" name="price" value="0.00"/>
				</div>

				<button class="btn btn-md btn-primary btn-block" type="submit">Submit</button>
			</div> <!--End of div card -->
			</form> <!--End of form -->
		<div> <!--End of Container -->

		<script src="https://code.jquery.com/jquery-3.1.1.slim.js" integrity="sha256-5i/mQ300M779N2OVDrl16lbohwXNUdzL/R2aVUXyXWA=" crossorigin="anonymous"></script>
		<script>
			$('#private').on("change", function(){

				if (parseInt($('#private').val()) == true){
						$('#price').val('0.00').attr('readonly',true)
				}
				else{
						$('#price').val('').attr('readonly',false)
				}

			})
			
		</script>



