
<div class="jumbotron">
	<div class="container">
		<h1>Welcome to Recipe Book!</h1>
		{{#each recipes_array}}
			<p>This is working {{dataValues.name}}</p>
			<img src="{{dataValues.image}}">
		{{/each}}
	</div>
</div>