<h1>User Profile</h1>

<h2>Username: {{ user.dataValues.username }}</h2>
<h3>Description: {{ user.dataValues.description }}</h3>
<h3>Email: {{ user.dataValues.email }}</h3>

<div id="buttons">
{{#if user_id_match}}
	<button id="followers" data-action="followers">Followers</button>
	<button id="edit_profile" data-action="edit_profile">Edit Profile</button>
	<button id="add_recipe" data-action="add_recipe">Add Recipe</button>
	<button id="add_recipebook" data-action="add_recipebook">Add Recipe Book</button>
	<button id="paid_recipes" data-action="paid_recipes">Paid Recipes</button>
	<button id="favorite_recipes" data-action="favorite_recipes">Favorite Recipes</button>
{{/if}}

{{#unless user_id_match}}
	{{#if following}}
		<form id="unfollow_form" action="" method="POST">
			<button id="follow" data-action="follow">Unfollow This User</button>
		</form>
	{{/if}}
	{{#unless following}}
		<form id="follow_form" action="" method="POST">
			<button id="follow" data-action="follow">Follow This User</button>
		</form>
	{{/unless}}
{{/unless}}

	<button id="recipes" data-action="recipes">Recipes</button>
	<button id="recipes_for_sale" data-action="recipes_for_sale">Recipes For Sale</button>
	<button id="recipebooks" data-action="recipebook">RecipeBooks</button>
</div>

<script type="text/javascript">
	var currentUrl = window.location.href;
	console.log(currentUrl);

	var follow_form = document.getElementById('follow_form');
	var unfollow_form = document.getElementById('unfollow_form');

	if(follow_form !== null) {
		follow_form.action += '/follow';
	} else if (unfollow_form !== null) {
		unfollow_form.action += '/unfollow';
	}

	var buttons = document.getElementById('buttons');
	buttons.addEventListener('click', function(event) {
		buttonClicked = event.target.dataset.action;
		switch(buttonClicked) {
			case 'followers':
				console.log('followers');
				window.location = currentUrl + '/followers';
				break;
			case 'edit_profile':
				console.log('edit profile');
				window.location = currentUrl + '/edit-profile';
				break;
			case 'recipes':
				console.log('recipes');
				window.location = currentUrl + '/recipes';
				break;
			case 'recipes_for_sale':
				console.log('recipes for sale');
				window.location = currentUrl + '/recipes-for-sale';
				break;
			case 'add_recipe':
				console.log('add recipe');
				window.location = window.location.origin + '/recipe/add';
				break;
			case 'add_recipebook':
				console.log('add recipebook');
				window.location = window.location.origin + '/recipebook/create_new_recipebook';
				break;
			case 'paid_recipes':
				console.log('paid recipes');
				window.location = currentUrl + '/paid-recipes';
			case 'favorite_recipes':
				console.log('favorite recipes');
				window.location = currentUrl + '/favorites';
			case 'recipebook': 
				window.location = currentUrl+ '/recipebook';
			default:
				console.log('Uh Oh');
		}
	});

</script>