<h1>User Profile</h1>

<div id="buttons">
{{#if user_id_match}}
	<button id="followers" data-action="followers">Followers</button>
	<button id="edit_profile" data-action="edit_profile">Edit Profile</button>
{{/if}}

{{#unless user_id_match}}
	<form id="follow_form" action="" method="POST">
		<button id="follow" data-action="follow">Follow This User</button>
	</form>
{{/unless}}

	<button id="recipes" data-action="recipes">Recipes</button>
	<button id="recipes_for_sale" data-action="recipes_for_sale">Recipes For Sale</button>
</div>

<script type="text/javascript">
	var currentUrl = window.location.href;
	console.log(currentUrl);

	document.getElementById('follow_form').action += '/follow';

	var buttons = document.getElementById('buttons');
	buttons.addEventListener('click', function(event) {
		buttonClicked = event.target.dataset.action;
		switch(buttonClicked) {
			case 'followers':
				console.log('followers');
				window.location = currentUrl + '/followers';
				break;
			case 'edit_profile':
				console.log('edit profile');
				window.location = currentUrl + '/update';
				break;
			case 'recipes':
				console.log('recipes');
				window.location = currentUrl + '/recipes';
				break;
			case 'recipes_for_sale':
				console.log('recipes for sale');
				window.location = currentUrl + '/recipes-for-sale';
				break;
			default:
				console.log('Uh Oh');
		}
	});

</script>