<h1>Edit User Profile</h1>

	<div class="container">

		<form action = "update?_method=PUT" method = "POST">
		<div class="card">
			<div class="form-group">
				<label>Email</label>
				<input class="form-control" type="email" name="email" value="{{user.dataValues.email}}"> 

			</div> 

			<div class="form-group">
				<label>Description:</label>
				<textarea class="form-control" rows="5" name="description">{{user.dataValues.description}}</textarea>
			</div>
			<div class="form-group"> <!--Post your URL Image-->
				<label>Image:</label>
				<input class="form-control" type = "text" name = "image" value="{{user.dataValues.image}}">
			</div>
			
			<button class="btn btn-md btn-primary btn-block" type="submit">Submit</button>
		</div> <!--End of div card -->
		</form> <!--End of form -->
	<div> <!--End of Container -->

<script type="text/javascript">

	var currentUrl = window.location.href;
	console.log(currentUrl);

	var edit_form = document.getElementById('edit_form');

	//edit_form.action += '/update?_method=PUT';
	

</script>