<div class="container row "> 
<div class=" col-lg-* container-profile  helloUser container-fluid">
<!-- <h1>User Profile</h1> -->
<h1>User! {{ user.dataValues.username }}</h1> <br>
<h3>About {{user.dataValues.username }}:  {{ user.dataValues.description }}</h3>
<h3>You are loged in with the Email: {{ user.dataValues.email }}</h3>
</div>
<div class=" container col-md-3 "><img src="../assets/images/cooking1.jpeg" style="width: 125px; height: 125px; -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); margin-left: -39px; margin-top: -40px; position: absolute;"> </div>
</div>
<!--************************************************************************-->
{{#if user_id_match}}
<div id="services" class="container-fluid text-center">
  <h2>Have Fun and Cook</h2>
  <h4>What we offer</h4>
  <br>
  <div id="buttons" class="row slideanim">
    <div class="col-sm-4">
      <span  ></span>
      <a id="followers" data-action="followers"><h4>Followers</h4></a>
      <p>Check who is following you.</p>
    </div>
    <div class="col-sm-4">
      <a id="edit_profile" data-action="edit_profile"><h4>Edit Profile</h4></a>
      <p>You can make all the changes that you want!.</p>
    </div>
    <div class="col-sm-4">
      <a id="add_recipe" data-action="add_recipe"><h4>Add Recipe</h4></a>
      <p>You have the tools to right down your recipes.</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <a id="add_recipebook" data-action="add_recipebook"><h4>Add Recipe Book</h4></a>
      <p>All of your family cooking history in one click</p>
    </div>
    <div class="col-sm-4">
      <a id="paid_recipes" data-action="paid_recipes"><h4>Paid Recipes</h4></a>
      <p>Check the recipies you have paid for.</p>
    </div>
    <div class="col-sm-4">
      <a id="favorite_recipes" data-action="favorite_recipes"><h4 style="color:#303030;">Favorite Recipes</h4></a>
      <p>The recipes that you love right where they belong</p>
    </div>
    {{/if}}
  </div>
  {{#unless user_id_match}}
  {{#if following}}
  	<div class="col-sm-4">
      <form id="unfollow_form" action="" method="POST">
      	<input type="submit" value="Unfollow">
     	<p>Unfollow them if you want to.</p>
      </form>
      
    </div>
    {{/if}}
    {{#unless following}}

    <div class="col-sm-4">
      <form id="follow_form" action="" method="POST">
      	<input type="submit" value="Follow">
		<p>follow them if you want to.</p>
      </form>
      
    </div>
    {{/unless}}
    {{/unless}}

    <div class="col-sm-4">
      <a id="recipes" data-action="recipes"><h4>Recipes</h4></a>
      <p>Check all recipes.</p>
    </div>

    <div class="col-sm-4">
      <a id="recipebooks" data-action="recipebook"><h4>RecipeBooks</h4></a>
      <p>Check all recipes Books.</p>
    </div>

    <div class="col-sm-4">
      <a id="recipes_for_sale" data-action="recipes_for_sale"><h4>Recipes For Sale</h4></a>
      <p>Check the recipes that are for sale.</p>
    </div>

</div>


<!--************************************************************************-->



<script type="text/javascript">
	var currentUrl = window.location.href;
	console.log(currentUrl);

	
	document.getElementById('recipes').href = currentUrl + '/recipes';
	document.getElementById('recipes_for_sale').href = currentUrl + '/recipes-for-sale';
	document.getElementById('recipebooks').href = currentUrl + '/recipebook';
	
	{{#if user_id_match}}
		document.getElementById('followers').href = currentUrl + '/followers';
		document.getElementById('edit_profile').href = currentUrl + '/edit-profile';
		document.getElementById('add_recipe').href = window.location.origin + '/recipe/add';
		document.getElementById('add_recipebook').href = '/recipebook/create_new_recipebook';
		document.getElementById('paid_recipes').href = currentUrl + '/paid-recipes';
		document.getElementById('favorite_recipes').href = currentUrl + '/favorites';
	{{/if}}

	{{#unless user_id_match}}
		var follow_form = document.getElementById('follow_form');
		var unfollow_form = document.getElementById('unfollow_form');

		if(follow_form !== null) {
			follow_form.action += '/follow';
		} else if (unfollow_form !== null) {
			unfollow_form.action += '/unfollow';
		}
	{{/unless}}
	

	// var buttons = document.getElementById('buttons');
	// buttons.addEventListener('click', function(event) {
	// 	buttonClicked = event.target.dataset.action;
	// 	switch(buttonClicked) {
	// 		case 'followers':
	// 			console.log('followers');
	// 			window.location = currentUrl + '/followers';
	// 			break;
	// 		case 'edit_profile':
	// 			console.log('edit profile');
	// 			window.location = currentUrl + '/edit-profile';
	// 			break;
	// 		case 'recipes':
	// 			console.log('recipes');
	// 			window.location = currentUrl + '/recipes';
	// 			break;
	// 		case 'recipes_for_sale':
	// 			console.log('recipes for sale');
	// 			window.location = currentUrl + '/recipes-for-sale';
	// 			break;
	// 		case 'add_recipe':
	// 			console.log('add recipe');
	// 			window.location = window.location.origin + '/recipe/add';
	// 			break;
	// 		case 'add_recipebook':
	// 			console.log('add recipebook');
	// 			window.location = window.location.origin + '/recipebook/create_new_recipebook';
	// 			break;
	// 		case 'paid_recipes':
	// 			console.log('paid recipes');
	// 			window.location = currentUrl + '/paid-recipes';
	// 			break;
	// 		case 'favorite_recipes':
	// 			console.log('favorite recipes');
	// 			window.location = currentUrl + '/favorites';
	// 			break;
	// 		case 'recipebook': 

	// 			window.location = currentUrl+ '/recipebook';
	// 			break;

	// 		default:
	// 			console.log('Uh Oh');
	// 	}
	// });

</script>