<div style="background-color:rgba(255, 255, 255, 0.5)">
<h1>User Recipes</h1>

{{#each recipes}}
	<a href="/recipe/{{dataValues.id}}">
		<p>{{ dataValues.name }}</p>
	</a>

	{{#if dataValues.private}}
		<p>Private</p>
	{{/if}}

	{{#unless dataValues.private}}
		<p>Public</p>
	{{/unless}}

	{{#if dataValues.paid}}
		<p>Paid</p>
	{{/if}}
{{/each}}
{{#if usermatch}}
		<div class="text-center">
		<button><a href="/recipebook/create_new_recipebook">Add new Recipe</a></button>
		</div>
	{{/if}}
</div>