body, 
html {
	min-height: 100%
}
body {
	background-image: url(../images/restaurant.png);
	background-repeat: no-repeat;
	background-size: cover;
}

p {
	color: black;
}

h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
h3 {
	text-align: center;
}
a {
	text-decoration: none !important;
}

#mainPage {
	background-image: url(../images/perfect3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}
.logfrom {
	padding-left: 100px;
	color: white;
	opacity: none;

}
#color {
	margin-top: 100px;
	width: 600px;
	height: 450px;
	line-height: 80px;	
	position: fixed;
    text-align: center;
	margin-left: 350px;
	border-radius: 10px;
}
#color{
	background-color:  #8989AF;	
	/*opacity: 0.5;
	filter: alpha(opacity=50);*/
}
#logo {
	background-image : url(../assets/images/logo.jpg) no-repeat top left; 
    border-radius: 50%;
    margin-right: 65px;
    width: 120px;
    height:120px;
    margin-top: -15px;
}
/*Sign in and sign up*******************/
.form-group {
	align-content: center;
}
.card-container.card {
    max-width: 450px;
    padding: 40px 40px;
    /*height: 300px;*/
}
.btn {
    font-weight: 700;
    /*height: 36px;*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
/*Header and footer*******************/
.curly { /*this is the header of the landing page*/
	 color: #d54d7b; 
	 font-family: "Great Vibes", cursive; 
	 font-size: 165px; 
	 line-height: 160px; 
	 font-weight: normal; 
	 text-align: center; 
	 text-shadow: 0 1px 1px #fff;
	/***********************/
	font-style: italic; 
	font-size: 900%;
	margin: 50px auto;
	/***********************/
}
.searchIt {
	margin: 0px auto; 
}
.profile-img-main {
	width: 46px;
    height: 46px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    /*margin-right: : 200px;*/
    float: right;
}
.brand {
	margin-left: -300px;
}
/*#main-container {
    min-height: 100%;
    height: 100%;
    margin: -100px auto;
}*/
.push {
    height: 80px;
}
.footer {
	display: block;
    width: 100%;
    height: 80px;
    line-height: 80px;
    border-radius: 2.5%;
    position: fixed;
    overflow: hidden;
    text-align: center;
    bottom: 0px;

   
}

.footer p {
    margin: 0 ;

}
.footercolor {
	text-align: center;
	color: white ;
	background-color: DarkSeaGreen;
    /*margin-top: 500px;*/
}
.jumbotron {
	background-color: blanchedalmond !important;
	border-style: solid;
	border-color: DarkSeaGreen;
	border-width: 5px;
	color: white;
	font-family: "Great Vibes", cursive;
	margin-top: 100px !important;	
}
/*User Profile ******************/

.btn { /*this gives margin between the buttons*/
	margin-top: 2.5px;
	margin-bottom: 5px;
	height: -100px;
}
.helloUser {
	 font-family: sans-serif;
	 
}
.container-profile { /*this styles the profile info*/
	color: darkslategray;
	background-color: darksalmon ;
	/*margin-top: 50px;*/
	/*width: 33.33%;*/
	/*height: 410px;*/
	border-style: inset;
	border-color: #c19985 ;
	border-width: 5px;
	margin-bottom: 15px;

}
.profileButton { /*button info user*/
	text-align: center;
	/*margin-top: 45px;*/
	float: right;
	background-color: darksalmon;

	/*margin-right: 40px;*/
	padding-top: 20px;
	border-style: inset;
	border-color: #c19985 ;
	border-width: 5px;
	margin-bottom: 15px;
	/*height: auto;*/

	
} 

.btn {
	margin-bottom: 5px;
	height: -100px;
	border-style: inset;
	border-width: 2px;
	border-color: lightgray;
}

#sign-out {
    float: right;
    margin: 2px 0 0 10px;
}

#user_buttons {
    margin: 10px;
}

.recipe-display {
	background: gray;
	height: 550px;
	width: 30%;
	margin: 1%;
	display: inline-block;
	text-align: center;
	float: left;
	position: relative;
}

.recipe-img {
	margin: auto auto;
	position: absolute;
	bottom: 10px;
}

.description {
	font-family: sans-serif;
	font-size: 14px;
}

#logo-main>img {
	height: 60px;
	width: 60px;
}

a {
	color: midnightblue;
}

/*.recipe-display:nth-child(odd) {
	background: midnightblue;
	margin-top: 1%;
}*/

#welcome {
	color: black;
}