body, 
html {
	min-height: 100%
}
body {
	background-image: url(../images/backimg.jpg);
	background-repeat: no-repeat;
	background-size: cover;


}

h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
h3 {
	text-align: center;
}
a {
	text-decoration: none !important;
}
.bgimgmain {
	height: 100px;
    background: -webkit-linear-gradient(left, rgba(215,30,10,0), rgba(106, 47, 106,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(215,30,10,0), rgba(106, 47, 106,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(215,30,10,0), rgba(106, 47, 106,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(215,30,10,0), rgba(106, 47, 106,1)); /* Standard syntax (must be last) */
}

}
.logfrom {
	padding-left: 100px;
	color: white;
	opacity: none;

}
/*button {
    color: white;
    padding: auto auto;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  
}*/
#color {
	margin-top: 200px;
	width: 600px;
	height: 80px;
	line-height: 80px;	
	position: fixed;
	margin-left: 350px;
	border-radius: 10px;
}
#color{
	background-color:  midnightblue;	
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#logo {
	background-image : url(../assets/images/logo.jpg) no-repeat top left; 
    border-radius: 50%;
    margin-right: 65px;
    width: 120px;
    height:120px;
    margin-top: -15px;
}


/*Sign in and sign up*******************/
.form-group {
	align-content: center;
}
.card-container.card {
    max-width: 450px;
    padding: 40px 40px;
    /*height: 300px;*/
}
.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
/*Header and footer*******************/
.searchIt {
	margin-left: 300px; 
}
.profile-img-main {
	width: 46px;
    height: 46px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    /*margin-right: : 200px;*/
    float: right;
}
.brand {
	margin-left: -300px;
}
#main-container {
    min-height: 100%;
    height: 100%;
    margin-top: 125px;

}
.push {
    height: 80px;
}
.footer {
	display: block;
    width: 100%;
    height: 80px;
    line-height: 80px;
    border-radius: 2.5%;
    position: absolute;
    overflow: hidden;
    text-align: center;
   /* margin-top: 400px;*/
}

.footer p {
    margin: 0 auto;
}
#footercolor {
	text-align: left;
	color: black ;
	background-color: purple;

}
.jumbotron {
	background-color: blue !important;
}
/*User Profile ******************/
.profileButton {
	text-align: center;
	margin-top: 140px;
	/*float: right;	*/
}
.btn {
	margin-bottom: 5px;
	height: -100px;
}
.container-circle { /*it was a circle*/
	background-color: Aqua ;
	/*margin-top: -100px;*/
	/*opacity: 0.7;
	filter: alpha(opacity=70);	*/
	width: 245px;
	height: 645px;
	float:left;
}

#sign-out {
    float: right;
    margin: 2px 0 0 10px;
}

#user_buttons {
    margin: 10px;
}

#profile {
    background: black;
}

#profile_card {
    height: 100%;
}